*.iml
.gradle
/.idea/.name
/.idea/caches
/.idea/dictionaries
/.idea/libraries
/.idea/shelf
/.idea/assetWizardSettings.xml
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/navEditor.xml
/.idea/render.experimental.xml
/.idea/vcs.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
